.logo {
  width: 150px;
}

#tf-menu > div > div.navbar-header > a {
  padding: 5px 15px;
}

#tf-home {
  background: url("../img/plank.jpg");
}

.sign-up-top {
  font-size: 20px;
  border-radius: 100px;
  padding: 10px 30px;
}

#tf-home > div > div > a {
  margin-top: 150px;
}

#tf-how-it-works {
  padding: 50px 0 30px;
  background-color: #FFCC80;
  color: #5d5d5d;
}

.steps-explained {
  margin-bottom: 50px;
}

.how-it-works-icon {
  height: 150px;
  margin-bottom: 20px;
}

.instructions {
  padding: 0 20px;
  margin-bottom: 50px;
}

/* Sign up form */
#tf-contact {
  background: url("../img/03.png");
  background-repeat: none;
  background-size: cover;
}

#mc-embedded-subscribe {
  margin: 0 auto;
  margin-top: 20px;
}

.subscribe-button {
  font-size: 20px;
  border-radius: 100px;
  padding: 10px 30px;
  margin: 0;
}

.subscribe-input {
  border-radius: 0;
  font-size: 20px;
  height: 54px;
  margin: 10px 0;
}