h2 {
  line-height: 28px;
}
.col-md-6 {
  margin-bottom: 30px;
}


/* logo */
.logo {
  width: 150px;
}
#tf-menu > div > div.navbar-header > a {
  padding: 5px 15px;
}

/* Intro section */
#tf-home {
  background: url("../img/plank.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#tf-home .content {
  padding: 150px 0 50px;
}
button.sign-up-top {
  font-size: 20px;
  border-radius: 100px;
  padding: 10px 30px;
}

/* Down arrow icon */
#tf-home > div > div > a {
  margin-top: 100px;
}


#tf-how-it-works {
  padding: 50px 0 30px;
  background-color: #FFCC80;
  color: #FFFFFF;
  background: url("../img/how-it-works-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.steps-explained {
  margin-bottom: 50px;
}

.how-it-works-icon {
  height: 150px;
  margin-bottom: 20px;
}

.instructions {
  padding: 0 20px;
  margin-bottom: 50px;
  color: #FFFFFF;
}

#mc-embedded-subscribe {
  margin: 0 auto;
  margin-top: 20px;
}

.subscribe-button {
  font-size: 20px;
  border-radius: 100px;
  padding: 10px 30px;
  margin: 0;
}

#tf-contact .form-control {
  border-radius: 0;
  font-size: 20px;
  height: 54px;
  margin: 10px 0;
}